body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    background-image: url(/assets/photo-1553441388-dab6b561836c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

section.title {
    z-index: 2;
    margin: 10vh 0 5vh 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

div.symbol__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

span.symbol {
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
}

span.small__symbol {
    width: 2em;
    height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

span.search__icon {
    position: absolute;
    right: 0;
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Vector_search_icon.svg');
    background-size: 3rem 3rem;
}

.A {
    background-image: url('./assets/A.svg');
}

.B {
    background-image: url('./assets/B.svg');
}

.C {
    background-image: url('./assets/C.svg');
}

.D {
    background-image: url('./assets/D.svg');
}

.E {
    background-image: url('./assets/E.svg');
}

.F {
    background-image: url('./assets/F.svg');
}

.G {
    background-image: url('./assets/G.svg');
}

.J {
    background-image: url('./assets/J.svg');
}

.L {
    background-image: url('./assets/L.svg');
}

.M {
    background-image: url('./assets/M.svg');
}

.N {
    background-image: url('./assets/N.svg');
}

.Q {
    background-image: url('./assets/Q.svg');
}

.R {
    background-image: url('./assets/R.svg');
}

.SIR {
    background-image: url('./assets/SI.svg');
}

.W {
    background-image: url('./assets/W.svg');
}

.Z {
    background-image: url('./assets/Z.svg');
}

.\31 {
    background-image: url('./assets/1.svg');
}

.\32 {
    background-image: url('./assets/2.svg');
}

.\33 {
    background-image: url('./assets/3.svg');
}

.\34 {
    background-image: url('./assets/4.svg');
}

.\35 {
    background-image: url('./assets/5.svg');
}

.\36 {
    background-image: url('./assets/6.svg');
}

.\37 {
    background-image: url('./assets/7.svg');
}

section.current {
    margin: 0 0 5vh 0;
}

div.schedule__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid yellowgreen;
    border-radius: 1rem;
    padding-top: 1rem;
    width: 95vw;
}

div.schedule__container div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5vw 0 5vw;
}

li {
    margin: 0;
    padding: 0;
    color: yellowgreen;
}

ul {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

p {
    color: grey;
}

section.train-container {
    position: fixed;
    bottom: 100px;
    width: 100vw;
    height: 200px;
}

div.tunnel {
    z-index: 0;
    height: 200px;
    width: 100vw;
    position: absolute;
    background-color: black;
}

div.column {
    width: 1vw;
    height: 200px;
    background-color: black;
    z-index: 1;
}

div.column__container {
    position: absolute;
    height: 200px;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

div.train {
    z-index: 1;
    position: absolute;
    background-image: url('./assets/test.svg');
    background-color: black;
    width: 800px;
    height: 200px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 800px 120px;
    animation-name: moveTrain;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes moveTrain {

    0% {
        right: -800px;
    }

    25% {
        right: -800px;
    }

    60% {
        right: 100vw;
    }

    100% {
        right: 100vw;
    }

}

header.search {
    width: 100vw;
    color: white;
    opacity: 30%;
}

header.search:hover {
    opacity: 100%;
}

header.search input {
    width: 100%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    overflow: scroll;
    margin: 0;
    height: 100px;
}
div.search-results {
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    color: black;
    opacity: 75%;
    z-index: 3;
}

div.search-result {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

div.search-result div {
    margin: 1rem;
}